@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-light-webfont.woff2") format("woff2"), url("../fonts/proximanova-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-semibold-webfont.woff2") format("woff2"), url("../fonts/proximanova-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tuppence";
  src: url("../fonts/tuppence_bold_italic-webfont.woff2") format("woff2"), url("../fonts/tuppence_bold_italic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
:root {
  --haip-dgray: #39546E;
  --haip-lgray: #DDE6EA;
  --haip-light: #F8FEFF;
  --haip-dark: #022344;
  --haip-coral: #FF8C8C;
  --haip-peach: #FFD1C2;
  --haip-dblue: #3667A1;
  --haip-lblue: #88AEE7;
  --haip-foam: #D1F0F9;
  --haip-lpurple: #F0D6F6;
  --haip-dpurple: #8575B9;
  --haip-dred: #890C2A;
  --radius: 8px;
}

body {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: 600;
  background-color: var(--haip-light);
  color: var(--haip-dark);
}

a {
  color: var(--haip-dblue);
  transition: 0.5s;
}

a:hover {
  color: var(--haip-dark);
  transition: 0.5s;
}

hr {
  border: 2px solid var(--haip-coral);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8rem;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.9rem;
}

h1.tuppence {
  font-family: "Tuppence", Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.7rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
.lightbox {
  display: none;
  width: 40vw;
}

.lightbox-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lightbox-flex-left {
  margin-right: 20px;
}

.lightbox-flex-right h2 {
  margin-bottom: 10px;
}

html.with-featherlight {
  /* disable global scrolling when featherlights are visible */
  overflow: hidden;
}

.featherlight {
  display: none;
  /* dimensions: spanning the background from edge to edge */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483647; /* z-index needs to be >= elements on the site. */
  /* position: centering content */
  text-align: center;
  /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
  white-space: nowrap;
  /* styling */
  cursor: pointer;
  background: #333;
  /* IE8 "hack" for nested featherlights */
  background: rgba(0, 0, 0, 0);
}

.featherlight img {
  border-radius: 8px;
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
  background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
  /* position: trick to center content vertically */
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.featherlight .featherlight-content {
  /* make content container for positioned elements (close button) */
  position: relative;
  /* position: centering vertical and horizontal */
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  /* dimensions: cut off images */
  overflow: auto;
  padding: 25px 25px 0;
  border-bottom: 25px solid transparent;
  /* dimensions: handling large content */
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  /* styling */
  background: #F8FEFF;
  cursor: auto;
  /* reset white-space wrapping */
  white-space: normal;
  border-radius: 8px;
}

/* contains the content */
.featherlight .featherlight-inner {
  /* make sure its visible */
  display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
  display: none;
}

.featherlight .featherlight-close-icon {
  /* position: centering vertical and horizontal */
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  /* dimensions: 25px x 25px */
  line-height: 25px;
  width: 25px;
  /* styling */
  cursor: pointer;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff; /* Set the background in case it overlaps the content */
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  padding: 0;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.featherlight .featherlight-image {
  /* styling */
  width: 100%;
}

.featherlight-iframe .featherlight-content {
  /* removed the border for image croping since iframe is edge to edge */
  border-bottom: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

.featherlight iframe {
  /* styling */
  border: none;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}
/* hide non featherlight items when printing */
@media print {
  html.with-featherlight > * > :not(.featherlight) {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  .lightbox {
    display: none;
    width: 90vw;
  }
}
div#mobi-nav {
  display: none;
}

img#flag-logo {
  height: 40px;
  width: 40px;
}

nav {
  height: 60px;
  background-color: var(--haip-lblue);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul#nav-left li:first-child {
  background-color: var(--haip-dblue);
}
nav ul#nav-left li:first-child:hover {
  background-color: var(--haip-lblue);
}
nav ul.nav-container {
  display: flex;
}
nav a.nav-link {
  text-decoration: none;
}
nav a li.nav-item {
  height: 60px;
  padding: 0px 30px 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--haip-light);
  transition: 0.5s;
}
nav a li.nav-item:hover {
  background-color: var(--haip-dblue);
  transition: 0.5s;
}
nav a li.nav-active {
  height: 56px;
  border-bottom: 4px solid var(--haip-coral);
}

@media only screen and (max-width: 800px) {
  div#mobi-nav {
    display: block;
    height: 60px;
    width: 100vw;
    background-color: var(--haip-dblue);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  div#mobi-nav div.mobi-link {
    background-color: var(--haip-dblue);
    padding: 0px 30px 0px 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#mobi-nav a div.mobi-link:hover {
    background-color: var(--haip-lblue);
    transition: 0.5s;
  }
  div#mobi-nav div#mobi-menu:hover {
    background-color: var(--haip-lblue);
    transition: 0.5s;
    cursor: pointer;
  }
  div#mobi-nav div#mobi-menu img {
    height: 20px;
    width: 20px;
  }
  nav {
    display: none;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav ul.nav-container {
    flex-direction: column;
  }
  nav a li.nav-item {
    width: calc(100vw - 60px);
  }
  nav ul#nav-left a.nav-link:first-child {
    display: none;
  }
  nav a li.nav-active {
    border-bottom: 0;
  }
}
div#alert-header {
  background-color: var(--haip-lgray);
  padding: 10px 10px 10px 10px;
  color: var(--haip-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  div#alert-header {
    padding: 20px 20px 20px 20px;
  }
}
main {
  width: 85vw;
  max-width: 1360px;
  min-height: 70vh;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 100px;
}

footer {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 90px;
  animation-name: fade-in;
  animation-timing-function: ease;
  animation-duration: 1s;
}
footer div.footer-chunk {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
footer div.footer-chunk:first-child {
  margin-right: 26px;
}
footer a.social-icon {
  text-decoration: none;
  margin-right: 26px;
  transition: 0.5s;
}
footer a.social-icon:last-child {
  margin-right: 0px;
}
footer a.social-icon:hover {
  opacity: 0.7;
  transition: 0.5s;
}
footer a.social-icon img {
  height: 22px;
}

@media only screen and (max-width: 800px) {
  footer {
    flex-direction: column;
  }
  footer div.footer-chunk:first-child {
    margin-right: 0;
    margin-bottom: 12px;
  }
  footer a.social-icon {
    margin-right: 30px;
  }
  footer a.social-icon img {
    height: 18px;
    margin-bottom: 28px;
  }
}
main#stage-home {
  display: flex;
  max-width: none;
  align-items: center;
  margin-bottom: 40px;
  animation-name: fade-in;
  animation-timing-function: ease;
  animation-duration: 1.5s;
}
main#stage-home h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  animation-name: welcome-alt;
  animation-timing-function: ease;
  animation-duration: 1.8s;
}
main#stage-home h1:first-child {
  animation-name: welcome;
  animation-duration: 1.9s;
}
main#stage-home h2 {
  font-size: 2.5rem;
  line-height: 2.9rem;
}
main#stage-home p {
  font-size: 1.5rem;
  line-height: 2rem;
}
main#stage-home span#home-delight-1 {
  background: url("../images/grace_1.jpg") 0 0/cover no-repeat;
  color: var(--haip-dark);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main#stage-home span#home-delight-2 {
  background: url("../images/grace_2.jpg") 0 0/cover no-repeat;
  color: var(--haip-dark);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {
  main#stage-home {
    margin-bottom: 10px;
  }
  main#stage-home h1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }
  main#stage-home h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  main#stage-home p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
main#stage-error {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
main#stage-error h1 {
  font-size: 4rem;
}
main#stage-error p {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media only screen and (max-width: 800px) {
  main#stage-error {
    margin-bottom: 10px;
  }
}
main#stage-about {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main#stage-about img#headshot {
  width: 350px;
  height: auto;
  border-radius: var(--radius);
}
main#stage-about article {
  margin-right: 50px;
  min-width: 350px;
}
main#stage-about article div#actions {
  border-radius: var(--radius);
  background-color: var(--haip-lgray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  min-width: 400px;
}
main#stage-about article div#actions div.action-button-wrap {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px;
  transition: 0.5s;
}
main#stage-about article div#actions div.action-button-wrap div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main#stage-about article div#actions div.action-button-wrap div img {
  height: 18px;
  width: auto;
  margin-left: 12px;
}
main#stage-about article div#actions div.action-button-wrap:hover {
  background-color: var(--haip-foam);
  transition: 0.5s;
}
main#stage-about article div#actions div.action-button-wrap:first-child {
  border-right: 4px solid var(--haip-light);
  border-radius: var(--radius) 0 0 var(--radius);
}
main#stage-about article div#actions div.action-button-wrap:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}
main#stage-about aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 1600px) {
  main#stage-about {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 800px) {
  main#stage-about {
    flex-direction: column;
  }
  main#stage-about img#headshot {
    width: 100%;
  }
  main#stage-about article {
    margin-right: 0px;
    margin-bottom: 50px;
    min-width: auto;
  }
  main#stage-about article div#actions {
    min-width: 100%;
    flex-direction: column;
  }
  main#stage-about article div#actions div.action-button-wrap {
    padding: 20px;
  }
  main#stage-about article div#actions div.action-button-wrap:first-child {
    border-right: none;
    border-bottom: 4px solid var(--haip-light);
    border-radius: var(--radius) var(--radius) 0 0;
  }
  main#stage-about article div#actions div.action-button-wrap:last-child {
    border-radius: 0 0 var(--radius) var(--radius);
  }
}
main#stage-design {
  margin-top: 10%;
}
main#stage-design article {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 4px;
  background-color: var(--haip-coral);
}
main#stage-design div.design-entry {
  height: 100%;
  width: 100%;
}
main#stage-design div.design-entry a {
  text-decoration: none;
  color: var(--haip-dgray);
}
main#stage-design div.design-entry a div.design-entry-inner {
  display: flex;
  height: calc(100% - 200px);
  width: 100%;
  padding: 100px 0 100px 0;
  align-items: center;
  justify-content: center;
  background-color: var(--haip-light);
  transition: 0.5s;
}
main#stage-design div.design-entry a div.design-entry-inner:hover {
  background-color: var(--haip-lgray);
  transition: 0.5s;
}
main#stage-design div.design-entry img {
  width: 40%;
  height: auto;
}
main#stage-design div#entry-seesaw {
  grid-column: 1/5;
  grid-row: 1;
}
main#stage-design div#entry-clever {
  grid-column: 5/9;
  grid-row: 1;
}
main#stage-design div#entry-2u {
  grid-column: 9/13;
  grid-row: 1;
}
main#stage-design div#entry-smokecartel {
  grid-column: 1/5;
  grid-row: 2;
}
main#stage-design div#entry-cosmo {
  grid-column: 5/9;
  grid-row: 2;
}
main#stage-design div#entry-misc {
  grid-column: 9/13;
  grid-row: 2;
  font-size: 1.5rem;
  color: var(--haip-dgray);
  text-align: center;
}

@media only screen and (max-width: 800px) {
  main#stage-design article {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  main#stage-design div.design-entry img {
    width: 50%;
  }
  main#stage-design div#entry-seesaw {
    grid-column: 1;
    grid-row: 1;
  }
  main#stage-design div#entry-clever {
    grid-column: 1;
    grid-row: 2;
  }
  main#stage-design div#entry-2u {
    grid-column: 1;
    grid-row: 3;
  }
  main#stage-design div#entry-smokecartel {
    grid-column: 1;
    grid-row: 4;
  }
  main#stage-design div#entry-cosmo {
    grid-column: 1;
    grid-row: 5;
  }
  main#stage-design div#entry-misc {
    grid-column: 1;
    grid-row: 6;
  }
}
main#stage-design-entry {
  margin-top: 10%;
}
main#stage-design-entry div.entry-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 3.5rem;
}
main#stage-design-entry div.col-solo {
  grid-template-columns: 1fr;
}
main#stage-design-entry div.col-duo {
  grid-template-columns: 1fr 1fr;
}
main#stage-design-entry div.col-trio {
  grid-template-columns: 1fr 1fr 1fr;
}
main#stage-design-entry div.col ol {
  padding-left: 30px;
}
main#stage-design-entry div.col ul {
  padding-left: 20px;
}
main#stage-design-entry div.col ol li {
  list-style: decimal-leading-zero;
  padding-left: 2rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}
main#stage-design-entry div.col ol li::marker {
  font-weight: 600;
}
main#stage-design-entry div.col ul li {
  list-style: outside;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}
main#stage-design-entry figure img {
  border-radius: var(--radius);
  margin-bottom: 1rem;
}
main#stage-design-entry figure figcaption {
  font-family: monospace;
  line-height: 1.1rem;
  font-weight: 300;
  padding-left: 10px;
  border-left: 2px solid var(--haip-coral);
}
main#stage-design-entry div.well {
  border-radius: var(--radius);
  background-color: var(--haip-lgray);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main#stage-design-entry div.well div {
  display: flex;
  align-items: center;
  justify-content: center;
}
main#stage-design-entry div.entry-container img.action-arrow {
  margin-left: 12px;
  height: 18px;
  width: auto;
}

@media only screen and (max-width: 800px) {
  main#stage-design-entry {
    margin-top: 20%;
  }
  main#stage-design-entry div.col-solo, main#stage-design-entry div.col-duo, main#stage-design-entry div.col-trio {
    grid-template-columns: 1fr;
  }
  main#stage-design-entry div.col-duo .col:first-child {
    margin-bottom: 1rem;
  }
  main#stage-design-entry div.col-trio .col:first-child, main#stage-design-entry div.col-trio .col:nth-child(2) {
    margin-bottom: 1rem;
  }
  main#stage-design-entry.design-entry-spec-ui div.entry-container {
    margin-bottom: 1rem;
  }
}
main#stage-zines h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.9rem;
}
main#stage-zines span#zines-title {
  background-image: url("../images/grace_1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--haip-dark);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title-zines-animate 15s;
  animation-iteration-count: infinite;
}
main#stage-zines section {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 4px;
  background-color: var(--haip-coral);
}
main#stage-zines div.zine-entry {
  height: 100%;
  width: 100%;
  grid-column: span 2;
}
main#stage-zines div.zine-entry a {
  text-decoration: none;
  color: var(--haip-dgray);
}
main#stage-zines div.zine-entry-blank {
  height: 100%;
  width: 100%;
  background-color: var(--haip-light);
}
main#stage-zines div.zine-entry-top-row {
  grid-column: span 3;
}
main#stage-zines div.zine-entry a div.zine-entry-inner {
  display: flex;
  height: calc(100% - 100px);
  width: 100%;
  padding: 50px 0 50px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--haip-light);
  transition: 0.5s;
}
main#stage-zines div.zine-entry a div.zine-entry-inner div.nsfw, main#stage-zines div.zine-entry a div.zine-entry-inner div.tag {
  border-radius: var(--radius);
  background-color: var(--haip-dred);
  padding: 7px 20px 5px 20px;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--haip-light);
}
main#stage-zines div.zine-entry a div.zine-entry-inner div.tag {
  background-color: var(--haip-dblue);
}
main#stage-zines div.zine-entry a div.zine-entry-inner:hover {
  background-color: var(--haip-lgray);
  transition: 0.5s;
}
main#stage-zines div.zine-entry img {
  width: 60%;
  height: auto;
  border-radius: var(--radius);
}
main#stage-zines div.zine-entry img.zine-cover-border {
  border: 1px solid var(--haip-lgray);
}

@media only screen and (max-width: 800px) {
  main#stage-zines {
    margin-top: 20%;
  }
  main#stage-zines section {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
  }
  main#stage-zines div.zine-entry-blank {
    display: none;
  }
  main#stage-zines div.zine-entry-top-row {
    grid-column: span 2;
  }
}
@keyframes title-zines-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
main#stage-zines-entry {
  display: flex;
  align-items: center;
  justify-content: center;
}
main#stage-zines-entry article {
  max-width: 400px;
  margin-right: 50px;
}
main#stage-zines-entry article p.zine-entry-pdf {
  margin-top: 20px;
  font-size: 0.85rem;
}
main#stage-zines-entry article div.nsfw, main#stage-zines-entry article div.tag {
  border-radius: var(--radius);
  background-color: var(--haip-dred);
  padding: 7px 20px 5px 20px;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--haip-light);
  width: fit-content;
}
main#stage-zines-entry article div.tag {
  background-color: var(--haip-dblue);
}
main#stage-zines-entry article div#actions {
  border-radius: var(--radius);
  background-color: var(--haip-lgray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  min-width: 400px;
}
main#stage-zines-entry article div#actions div.action-button-wrap {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px;
  transition: 0.5s;
  border-radius: var(--radius);
}
main#stage-zines-entry article div#actions div.action-button-wrap div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main#stage-zines-entry article div#actions div.action-button-wrap div img {
  height: 18px;
  width: auto;
  margin-left: 12px;
}
main#stage-zines-entry article div#actions div.action-button-wrap:hover {
  background-color: var(--haip-foam);
  transition: 0.5s;
}
main#stage-zines-entry aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main#stage-zines-entry aside img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: var(--radius);
}
main#stage-zines-entry aside img.cover-white {
  border: 1px solid var(--haip-lgray);
}

@media only screen and (max-width: 800px) {
  main#stage-zines-entry {
    flex-direction: column;
    margin-top: 20%;
  }
  main#stage-zines-entry article {
    margin-right: 0px;
    margin-bottom: 50px;
    width: 100%;
  }
  main#stage-zines-entry article div#actions {
    min-width: 100%;
    flex-direction: column;
  }
  main#stage-zines-entry article div#actions div.action-button-wrap {
    padding: 20px;
  }
  main#stage-zines-entry aside img {
    width: 100%;
  }
}
main#stage-art h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.9rem;
}
main#stage-art span#art-title {
  background-image: url("../images/grace_2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--haip-dark);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: title-art-animate 15s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 800px) {
  main#stage-art {
    margin-top: 20%;
  }
}
@keyframes title-art-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes welcome {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  5% {
    transform: translateY(100%);
    opacity: 0;
  }
  70% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes welcome-alt {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    transform: translateY(100%);
    opacity: 0;
  }
  70% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}