{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-zines-entry">
      <article>
        <div class="tag mb-2">Coming Soon</div>
        <p>Art museums have been a haven for me since I was young, but not just because of the art they contain but also because of the art that they are. The architecture and interior design of art museums create a ethereal space that’s comforting (for me at least) and are ripe for exploration. This zine showcases digital photographs I have taken over the past decade.</p>
        <p>Photos are from the following museums: “High Museum of Art” in Atlanta, “Legion of Honor” and “San Francisco Museum of Modern Art” in San Francisco, “American Art Museum” in Washington DC, “Museum Ludwig” in Cologne, Germany, “Museum of Contemporary Art Denver” in Colorado, “Jepson Center” in Savannah, “Scottsdale Museum of Contemporary Art” in Arizona, “Milwaukee Art Museum” in Wisconsin, “Museum Of Contemporary Art Chicago” in Illinois, and “North Carolina Museum of Art” in Raleigh</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <!-- <div id="actions">
          <div class="action-button-wrap">
            <a href="https://hannahap.com/shop.html" title="Buy a physical copy of the 'Runaway' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Runaway' zine" /></div>
              </div>
            </a>
          </div>
        </div> -->

      </article>
      <aside>
        <img id="cover" src="images/zines/cathedral_full.jpg" alt="'Cathedral' zine cover" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}