{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-zines-entry">
      <article>
        <div class="tag mb-2">New!</div>
        <p>On January 10, 2014, after years of fearful waiting, I started my transition. For the 10th anniversary of this day, I honored the momentous milestone by writing DecaTranniversary. This zine is a collection of art, letters, photos, designs, a playlist, and more that I put together as a way to reflect and celebrate. Broken up into “eras” of life, each era has a piece of art encapsulating my emotions and presentation of the time. Alongside the art is a letter to either that version of myself or a letter to my trans sisters.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://emotionalby.design/products/decatranniversary-zine-printed-copy" title="Buy a physical copy of the 'DecaTranniversary' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'DecaTranniversary' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" src="images/zines/deca_print_full.jpeg" alt="'DecaTranniversary' zine cover" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}