{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-zines-entry">
      <article>
        <p>After nearing losing my life in 2022 to severe complications from an emergency appendectomy, a new health crisis quickly came to the forefront. While waiting for doctor appointments, lab tests, imaging, and results, I was sitting in a puddle of fear — after working so hard on myself and after working so hard to find a fervent love of life, would it all come crashing down earlier than expected? During this time I was struggling with my art too. This zine fell into place as I made art (even though I was frustrated and creatively blocked) and wrote about the anxiety of my life being cut short.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://emotionalby.design/products/i-am-iconic-zine-printed-copy" title="Buy a physical copy of the 'I am ICONIC' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'I am ICONIC' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" src="images/zines/iconic_full.jpeg" alt="'I am ICONIC' zine cover, a dark but colorful art piece inside an elongated capsule shape with the text 'i am' in a fine serif white font and the text 'ICONIC' in capital white warped letters." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}