{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-zines-entry">
      <article>
        <div class="tag mb-2">Coming Soon</div>
        <p>The desert hooked me the first time I went as a kid. My favorite place in the entire world is the American desert. Maybe it’s because it’s so vastly different than anyplace I’ve ever lived — having so far lived my entire life in only Georgia and Florida. It’s become my sanctuary, my safe space, my muse. This zine contains 35mm film photography from three separate trips to the desert: The first to New Mexico the day after a heartbreak, the second a quick escape after a business trip in nearby Palm Springs, and the third a week-long trip I had planned for years from Nevada to Arizona to New Mexico.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <!-- <div id="actions">
          <div class="action-button-wrap">
            <a href="https://hannahap.com/shop.html" title="Buy a physical copy of the 'Runaway' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Runaway' zine" /></div>
              </div>
            </a>
          </div>
        </div> -->

      </article>
      <aside>
        <img id="cover" src="images/zines/runaway_full.jpeg" alt="'Runaway' zine cover" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}