{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-zines-entry">
      <article>
        <div class="tag mb-2">New!</div>
        <p>Written six years after graduating from The Art School in Coastal Georgia, this zine recounts some of the horrors of art and design universities around the country. The title comes from the toxic mantra of “Sleep Comes After Death” that was peddled by professors and college higher-ups alike. Many art college experiences are marred by “toxic productivity culture” that comes at the expense of student sleep and mental health. This in turn effects what’s seen as acceptable in the workplace, continuing the vicious cycle. That is, if you even want to be an artist or designer once you finish. While this is hopefully not everyone’s experience, it was mine.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://emotionalby.design/products/sleep-comes-after-death-zine-printed-copy" title="Buy a physical copy of the 'Sleep Comes After Death' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Sleep Comes After Death' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" class="cover-white" src="images/zines/scad_full.jpeg" alt="'Sleep Comes After Death' zine cover" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}