{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-zines-entry">
      <article>
        <div class="nsfw mb-2">Not Safe For Work</div>
        <p>Chronicle of sexual escapades, relationships, and gender affirmation surgery</p>   
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://shop.hannahap.com/shop/zines/2?page=1&limit=60&sort_by=category_order&sort_order=asc" title="Buy a physical copy of the 'Slut' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Slut' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" src="images/zines/slut_full.jpeg" alt="'Slut' zine cover, a square closeup image of pink bed sheets with the text Slut written in a big, white, italic, serif font." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}