{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-zines-entry">
      <article>
        <p>While trying desperately to finish an intense degree at a “prestigious” art and design university, I nearly lost everything. In an attempt to get care I checked myself into Costal Harbor Behavioral Health in Savannah, Georgia — a total sham of a psychiatric hospital. Not only did I not get the help I needed, the week I was there made my mental state (and life) supremely worse. Locked up inside a “crazy people storage facility” I wrote a lot, but in paranoia, I only wrote English using the Cyrillic alphabet. This zine translates my manic notes from Cyrillic to Latin and includes a look into life inside the walls of a mental health prison.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>      
        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://emotionalby.design/products/south-pole-zine-printed-copy" title="Buy a physical copy of the 'South Pole' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'South Pole' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" class="cover-white" src="images/zines/sp_full.jpeg" alt="'South Pole' zine cover, a scanned photo of some pressed small weed flowers with the text South Pole written in big, bold, black, capital letters." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}