{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-zines-entry">
      <article>
        <p>The story from inside a stay at a quack psychiatric hospital</p>        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://shop.hannahap.com/shop/zines/2?page=1&limit=60&sort_by=category_order&sort_order=asc" title="Buy a physical copy of the 'South Pole' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'South Pole' zine" /></div>
              </div>
            </a>
          </div>
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/zine.php?title=SouthPole" title="Download the 'South Pole' zine as a .pdf">
              <div>
                <div>Download a .pdf</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Download the 'South Pole' zine as a .pdf" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" class="cover-white" src="images/zines/sp_full.jpeg" alt="'South Pole' zine cover, a scanned photo of some pressed small weed flowers with the text South Pole written in big, bold, black, capital letters." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}