{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-zines-entry">
      <article>
        <p>As I waited in my apartment day in and day out during the Covid quarantine, my already intense drive to be a Mom grew to be too much to handle. Simultaneously I was developing an art style that resonated with me and one of my primary topics was motherhood. This zine is the story of being a trans woman in the American South and wanting so desperately to be a Mom. Not only is the instinctive drive to be a mother a strong one, but the mountains that stand between me and motherhood are huge and numerous as a trans woman.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://hannahap.com/shop.html" title="Buy a physical copy of the 'Waiting for You' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Waiting for You' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" class="cover-white" src="images/zines/wfy_full.jpeg" alt="'Waiting for You' zine cover, a white square with a horizontal photo in the middle of the sky with clouds in it. Overlaid on the photo in white italic serif text are the words Waiting for You." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}