main#stage-zines-entry {
	display: flex;
	align-items: center;
	justify-content: center;

  article {
    max-width: 400px;
    margin-right: 50px;

    div.nsfw {
      border-radius: var(--radius);
      background-color: var(--haip-dred);
      padding: 5px 20px 5px 20px;
      margin-top: 1rem;
      font-weight: 600;
      color: var(--haip-light);
      width: fit-content;
    }

    div#actions {
      border-radius: var(--radius);
      background-color: var(--haip-lgray);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      min-width: 400px;

      div.action-button-wrap {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        padding: 20px;
        transition: 0.5s;
        
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          img {
            height: 18px;
            width: auto;
            margin-left: 12px;
          }
        }
      }

      div.action-button-wrap:hover {
        background-color: var(--haip-foam);
        transition: 0.5s;
      }

      div.action-button-wrap:first-child {
        border-right: 4px solid var(--haip-light);
        border-radius: var(--radius) 0 0 var(--radius);
      }

      div.action-button-wrap:last-child {
        border-radius: 0 var(--radius) var(--radius) 0;
      }
    }
  }
  aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    img {
      width: 100%;
      max-width: 350px;
      height: auto;
      border-radius: var(--radius);
    }
    img.cover-white {
      border: 1px solid var(--haip-lgray);
    }
  }
}

@media only screen and (max-width: 800px) {
	main#stage-zines-entry {
		flex-direction: column;
    margin-top: 20%;

    article {
      margin-right: 0px;
      margin-bottom: 50px;
      width: 100%;

      div#actions {
        min-width: 100%;
        flex-direction: column;

        div.action-button-wrap {
          padding: 20px;
        }

        div.action-button-wrap:first-child {
          border-right: none;
          border-bottom: 4px solid var(--haip-light);
          border-radius: var(--radius) var(--radius) 0 0;
        }

        div.action-button-wrap:last-child {
          border-radius: 0 0 var(--radius) var(--radius);
        }
      }
    }
    aside img {
      width: 100%;
    }
  }
}