{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-error">
      <div>
        <h1 class="tuppence mb-2">Error 403</h1>
        <p>Access to the page you requested is forbidden</p>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}