{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-error">
      <div>
        <h1 class="tuppence mb-2">Error 404</h1>
        <p>The page for which you are searching was not found</p>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}