{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=true}}

    <main id="stage-error">
      <div>
        <h1 class="tuppence mb-2">Error 500</h1>
        <p>There has been an internal server error</p>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}