main#stage-art {
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.9rem;
  }
  span#art-title {
    background-image: url('../images/grace_2.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    color: var(--haip-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title-art-animate 15s;
    animation-iteration-count: infinite;
  }
  section {
    width: 100%;
    display: grid;
    grid-template-rows: 300px 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 4px;
    background-color: var(--haip-coral);
  }
}
div.art-entry {
  height: 100%;
  width: 100%;
  grid-column: span 2;
  text-align: center;
}
div.art-entry a {
  text-decoration: none;
  color: var(--haip-dgray);
}
div.art-entry-blank {
  height: 100%;
  width: 100%;
  background-color: var(--haip-light);
}
div.art-entry a div.art-entry-inner {
  display: flex;
  height: calc(100% - 100px);
  width: 100%;
  padding: 50px 0 50px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--haip-light);
  transition: 0.5s;

  h3 {
    margin-top: 20px;
  }

  div.app, div.tag {
    border-radius: var(--radius);
    background-color: var(--haip-dred);
    padding: 7px 20px 5px 20px;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--haip-light);
  }

  div.tag {
    background-color: var(--haip-dblue);
  }
}
div.art-entry a div.art-entry-inner:hover {
  background-color: var(--haip-lgray);
  transition: 0.5s;
}
div.art-entry img {
  width: 60%;
  height: auto;
  border-radius: var(--radius);
}
div.art-entry img.art-cover-border {
  border: 1px solid var(--haip-lgray);
}
div.art-entry img.art-cover-sm {
  width: 20%;
}

@media only screen and (max-width: 800px) {
	main#stage-art {
		margin-top: 20%;

    section {
      grid-template-rows: repeat(3, 300px) repeat(5, 1fr);
      grid-template-columns: 1fr;
    }
    div.art-entry-blank {
      display: none;
    }
	}
}

@keyframes title-art-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}