{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-art-entry">
      <h1 class="tuppence mb-2">Can't Stop Thinking About You</h1>
      <h2 class="mb-3">A collection of 43 works by Hannah A. Patellis spanning from 2019 to 2023</h2>
      <h3 class="mb-3">Heartbreak is a story as old as time.</h3>
        
      <section>
        <img src="https://fs.hannahap.com/img_store/66343977b8d6a.jpg" alt="'Flirt' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/66343dbd93b92.jpg" alt="'Rare' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/66343d92bfd43.jpg" alt="'Us' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/6634415b0d310.jpg" alt="'Rise Above' by Hannah A. Patellis" />     
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}