{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-art-entry">
      <h1 class="tuppence mb-2">Can't Stop Thinking About You</h1>
      <h2 class="mb-3">A collection of 40 works by Hannah A. Patellis spanning from 2019 to 2022</h2>
      <h3 class="mb-3">More than 180 finished pieces spread over 10 unique collections</h3>
        
      <section>
        <img src="https://fs.hannahap.com/img_store/67804382c5064.jpg" />
        <img src="https://fs.hannahap.com/img_store/67804382c5064.jpg" />
        <img src="https://fs.hannahap.com/img_store/67804382c5064.jpg" />
        <img src="https://fs.hannahap.com/img_store/67804382c5064.jpg" />     
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}