{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-art-entry">
      <h1 class="tuppence mb-2">The Era</h1>
      <h2 class="mb-2">A collection of 44 works by Hannah A. Patellis spanning from 2023 to 2024</h2>
      <h3 class="mb-3">Inspired by living life to the fullest. Wild transformations creating a prime life</h3>
        
      <section>
        <img src="https://fs.hannahap.com/img_store/66896ed2456f6.jpg" />
        <img src="https://fs.hannahap.com/img_store/6658a84eed01e.jpg" />
        <img src="https://fs.hannahap.com/img_store/663663a042e9f.jpg" />
        <img src="https://fs.hannahap.com/img_store/663664293a50b.jpg" />     
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}