{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-art-entry">
      <h1 class="tuppence mb-2">ICONIC</h1>
      <h2 class="mb-3">A collection of 11 works by Hannah A. Patellis from 2023</h2>
      <h3 class="mb-3">Frustration and fear. <a href="iconic.html">Checkout the corresponding zine!</a></h3>
        
      <section>
        <img src="https://fs.hannahap.com/img_store/66353d547bfa7.jpg" alt="'9' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/66353da779fc6.jpg" alt="'11 - Self Love' by Hannah A. Patellis"/>
        <img src="https://fs.hannahap.com/img_store/66353c883df71.jpg" alt="'7' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/66353c3106153.jpg" alt="'6' by Hannah A. Patellis"/>     
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}