{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-art-entry">
      <h1 class="tuppence mb-2">The Journey North</h1>
      <h2 class="mb-3">An ongoing collection of works by Hannah A. Patellis started in 2024</h2>
      <h3 class="mb-3">Life changes so quickly</h3>
        
      <section>
        <img src="https://fs.hannahap.com/img_store/6765ad557bc01.jpg" alt="'The Lady Blue' by Hannah A. Patellis"/>
        <img src="https://fs.hannahap.com/img_store/675f6528479e2.jpg" alt="'Bilateral' by Hannah A. Patellis"/>
        <img src="https://fs.hannahap.com/img_store/66de01bfe2d0a.jpg" alt="'Volatile' by Hannah A. Patellis"/>
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}