{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-showcase">
      <article>
        <p class="mb-1">PROlific is an art management application written primarily in PHP and using MySQL as a database.</p>

        <div id="actions">
          <div class="action-button-container">
            <a href="https://github.com/hannahpatellis/prolific" title="See the PROlific code on Github">
              <div>
                <div>See the code on Github</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="See the PROlific code on Github" /></div>
              </div>
            </a>
          </div>
        </div>
      </article>
      <aside>
        <a href="https://github.com/hannahpatellis/prolific" title="See the PROlific code on Github">
          <img id="headshot" src="images/prolific-gallery.png" alt="Screenshot of PROlific running in Safari showing a gallery view of art works" />
        </a>
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}