{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-showcase">
      <article>
        <p class="mb-1">PROlific is an art management application written primarily in PHP and using MySQL as a database.</p>

        <div id="actions">
          <div class="action-button-container">
            <a href="hhttps://github.com/hannahpatellis/prolific" title="See the PROlific code on Github">
              <div>
                <div>See the code on Github</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="See the PROlific code on Github" /></div>
              </div>
            </a>
          </div>
        </div>
      </article>
      <aside>
        <img id="headshot" src="images/me.jpg" alt="Picture of Hannah A. Patellis, a white woman with long dark hair, twirling in a white dress with blue flowers against a pink studio backdrop" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}