{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-showcase">
      <article>
        <p class="mb-1">Reigning from the <em>City of Lakes</em>, Minneapolis, Minnesota, I'm a senior product designer, technologist, developer, artist, and cat mama. (And so much more!) You can catch me listening to copious amounts of NPR, messing with retro tech, cross stitching, exploring the city, and looking for trinkets in antique stores.</p>

        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/HannahPatellisCV.pdf" title="CV download in .pdf format">
              <div>
                <div>CV in .pdf format</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="CV download in .pdf format" /></div>
              </div>
            </a>
          </div>
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/HannahPatellisBioStatement.pdf" title="Bio and statement download in .pdf format">
              <div>
                <div>Bio + statement in .pdf format</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Bio and statement download in .pdf format" /></div>
              </div>
            </a>
          </div>
        </div>
      </article>
      <aside>
        <img id="headshot" src="images/me.jpg" alt="Picture of Hannah A. Patellis, a white woman with long dark hair, twirling in a white dress with blue flowers against a pink studio backdrop" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}