{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-zines-entry">
      <article>
        <p>The profoundly emotional moments, memories, and experiences of life as a trans woman in the American South are the main focuses of work by artist Hannah A. Patellis, born 1994 in Titusville, Florida. Inspired from a young age by abstract contemporary art, she has always gravitated toward color and movement captured in pieces that leave much interpretation open to the viewer. While Hannah’s primary medium is digital still visual art, she does dabble in both motion media and physical media. Vivid colors, fluid motion, and deep dimensionality are present in much of her work. Hannah’s goal in creating art is to empower people to express themselves and use art as a launchpad for introspection. Hannah lives and works in Minneapolis, Minnesota with her partner and their two cats and dog.</p>

        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://hannahap.com/shop.html" title="Buy a physical copy of the 'Cat Fur Emporium' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Cat Fur Emporium' zine" /></div>
              </div>
            </a>
          </div>
        </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}