{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-showcase">
      <article>
        <p class="mb-1">The profoundly emotional moments, memories, and experiences of life as a trans woman in the American South are some of the main focuses in my work. Inspired from a young age by abstract contemporary art, I have always gravitated toward color and movement captured in pieces that leave much interpretation open to the viewer. While my primary medium is digital still visual art, I do dabble in both motion media and physical media. Vivid colors, fluid motion, and deep dimensionality are present in much of my work. My goal in creating art is to empower people to express themselves and use art as a launchpad for introspection.</p>
        <p><strong>I am open for commissions and showings!</strong></p>

        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/HannahPatellisCV.pdf" title="CV download in .pdf format">
              <div>
                <div>CV in .pdf format</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="CV download in .pdf format" /></div>
              </div>
            </a>
          </div>
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/HannahPatellisBioStatement.pdf" title="Bio and statement download in .pdf format">
              <div>
                <div>Bio + statement in .pdf format</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Bio and statement download in .pdf format" /></div>
              </div>
            </a>
          </div>
        </div>
      </article>
      <aside>
        <img id="headshot" src="images/me-art.png" alt="Picture of Hannah A. Patellis, a white woman with shoulder-length dark hair wearing a silver sequin pantsuit, sitting on the back of a retro couch with her hand on a large disco ball. The room is lit in reds, blues, and purples." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}