{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-zines-entry">
      <article>
        <p>My two cats are my life. Saving me from leaving this Earth prematurely at my own hand multiple times, they are a constant source of joy, love, and nurturing. While living alone with them, I’d just kinda say to them whatever comes to mind — creating many inside jokes, names, and sayings. Peach and Opal may shed so much fur that I live in a cat fur emporium, but it’s worth it.</p>
        <p class="zine-entry-pdf">A .pdf copy of this zine is available upon request</p>
        
        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://hannahap.com/shop.html" title="Buy a physical copy of the 'Cat Fur Emporium' zine">
              <div>
                <div>Buy a print copy</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Buy a physical copy of the 'Cat Fur Emporium' zine" /></div>
              </div>
            </a>
          </div>
        </div>

      </article>
      <aside>
        <img id="cover" class="cover-white" src="images/zines/cfe_full.jpeg" alt="'Cat Fur Emporium' zine cover, a chalkboard drawing inside a house shape of a woman and two cats standing on grass with clouds above them. The words 'Cat Fur Emporium' are big, black, and in a script typeface." />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}