{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=false}}

    <main id="stage-art-entry">
      <h1 class="tuppence mb-2">Waiting For You</h1>
      <h2 class="mb-2">A collection of 23 works by Hannah A. Patellis from 2020</h2>
      <h3 class="mb-3">The burning desire to be a mother. <a href="waitingforyou.html">Checkout the corresponding zine</a></h3>
        
      <section>
        <img src="https://fs.hannahap.com/img_store/663448251aabf.jpg" alt="'Rocking Chair' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/6634478c518b5.jpg" alt="'Broken' by Hannah A. Patellis"/>
        <img src="https://fs.hannahap.com/img_store/663449ada5091.jpg" alt="'The Matriarchs' by Hannah A. Patellis" />
        <img src="https://fs.hannahap.com/img_store/663449cf5e340.jpg" alt="'Toys' by Hannah A. Patellis" />     
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}