.container-fluid{
  margin-top:4%;
}

.black{
  color:#262626;
}
.white{
  color:#f2f2f2;
}
.dgray{
  color:#777777;
}
.lgray{
  color:#d6d6d6;
}
/* .pink{
  color:#F9D9D9;
} */
.red{
  color:#4F2335;
}
/* .purple{
  color:#A3A3CE;
} */

body{
  font-family:'Lato',Helvetica,Arial,sans-serif;
  background-color:#F2F2F2;
  color:#262626;
}
h1{
  font-weight:bold;
  font-size:45px;
  line-height:45px;
}
h2{
  font-size:28px;
  margin-top:10px;
  line-height:40px;
}
h3{
  font-size:12px;
  margin-top:20px;
}
p{
  font-size:17px;
  line-height:30px;
}
small{
  font-size:11px;
}
a{
  color:#7F7F7F;
}
a:hover{
  color:#A3A3CE;
}
/* .holder{
  margin-top:4%;
} */

/* SIDEBAR */
.sidebar-logo{
  height:90px;
  width:90px;
  margin:0 auto;
  text-align:center;
}

/* TILED HOME PAGE */
.bodyholder{
  margin-bottom: 50px;
}
.description{
  display: none;
}
.tile{
  position:relative;
  display:inline-block;
  height:250px;
  width:250px;
  float:left;
  margin-right:20px;
  margin-bottom:20px;
  border-radius: 7px;
  padding:20px 20px 20px 20px;
  border: 4px solid #4F2335;
  color:#262626;
}
.tile:hover{
  border: 4px solid #4F2335;
  background-color: #4F2335;
  color:#f2f2f2;
}
.tile-comingsoon {
  border: 4px solid #4F2335;
  color:#262626;
  opacity: 0.5;
}
.tile-comingsoon:hover {
  background-color: #777777;
  opacity: 0.2;
}
.tile-no-hover:hover{
  background:none;
  color:#262626;
}
.tile-mega{
  background: none;
  height:250px;
  width:520px;
  border:0px;
  color:#262626;
}
.tile-mega:hover{
  background-image:none;
  background-color:#4F2335;
  border:none!important;
}
.tile-resize {
  min-height: 240px;
  width: 100%;
  border-radius: 7px;
  padding:20px 20px 20px 20px;
  border: 4px solid #4F2335;
  color:#262626;
  margin-bottom: 20px;
}
.tile-resize:hover {
  border: 4px solid #4F2335;
  background-color: #4F2335;
  color:#f2f2f2;
}
a.no-underline:hover {
  text-decoration: none!important;
}
.tile-header{
  font-weight:bold;
  font-size:35px;
  line-height:35px;
  margin-bottom: 20px;
}
.tile-subheader{
  font-weight:lighter;
  font-size:35px;
  line-height:45px;
}
.tile-spacer{
  height:6px;
  width:50px;
  margin-top:20px;
  margin-bottom:20px;
  background-color:#4F2335;
}
.tile-tag {
  font-size: 13px;
}
.tile:hover .tile-spacer, .tile-resize:hover .tile-spacer {
  background-color: #f2f2f2;
}
.tile-link-icon{
  position: absolute;
  right:15px;
  bottom:15px;
  display: flex;
  justify-content: center;
}
span.title-link-about {
  font-size: 12px;
  padding-right: 5px;
  margin-bottom: 2px;
  font-weight: bold;
}
.tile-social-holder{
  margin-top:90px;
}
.social-icon{
  color:#262626;
  font-size:26px;
  margin-right:12px;
}
.social-icon:hover{
  color:#777777;
}
.social-icon:last-child {
  margin-right:0px;
}
br#page-about-social-break {
  display: none;
}
.tile-copyright{
  margin-top:25px;
  line-height:15px;
  font-size:12px;
}

/* PAGE LAYOUT */
.holder .row{
  margin-bottom:40px;
}
.caption {
  height: 100%;
}
span.header-tag {
  border: 1px solid #d6d6d6;
  border-radius: 7px;
  background-color: #d6d6d6;
  color: #262626;
  padding: 6px 6px 6px 6px;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 10px;
}
span.header-tag-dev {
  border-top-right-radius: 0px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 7px;
  margin-right: 0px;
}
span.header-tag-dev-plus {
  background: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 0px;
}
span.header-tag-dev-plus:last-of-type {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 10px;
}
section.portfolio-row h1 {
  font-size: 32px;
}
section.portfolio-row h2 {
  font-size: 26px;
}
section.portfolio-row h3 {
  font-size: 15px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-withcap {
  height: 100%;
}
.welton{
  margin-right:20px;
  margin-top:2rem;
  margin-bottom:2rem;
  border-radius: 7px;
  padding:20px 20px 20px 20px;
  background-color:#262626;
  color:#F2F2F2;
  width:100%;
}
.welton-social {
  background-color: #4F2335;
  margin-bottom: 100px;
}
.welton-social .social-icon {
  color: #F2F2F2;
  margin-right: 15px;
}
.welton-social .social-icon:hover{
  color:#d6d6d6;
}
.welton-resume{
  border: 2px solid #d6d6d6;
  background-color: #F2F2F2;
  color: #262626;
  font-size:20px;
}
.welton:last-child{
  margin-right:0px;
}
.page-social-wrap{
  margin:0 auto;
  text-align:center;
}
img.page-about-me{
  float:left;
  margin-right:20px;
  border-right: 3px solid #4F2335;
  border-bottom: 3px solid #4F2335;
  border-bottom-right-radius: 7px;
  width: 240px;
}
img.page-img-full{
  display:block;
  width:90%;
  margin:0 auto;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
}
img.page-img-part{
  display:block;
  margin:0 auto;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
}

@media only screen and (min-width: 576px) {
  .col-sm-12 {
    flex: none;
  }
}

@media only screen and (max-width: 770px) {
  .bodyholder{
    width:330px;
    padding:0 0 0 0;
    margin:0 auto;
    margin-bottom: 50px;
  }
  h1{
    margin-top:30px;
    font-size:30px;
    line-height:30px;
  }
  h2{
    font-size:20px;
    margin-top:10px;
    line-height:30px;
  }
  h3{
    font-size:12px;
    margin-top:20px;
  }
  .sidebar-logo{
    margin-left:20px;
    margin:0 auto;
  }
  .sidebar{
    margin-bottom:20px;
  }

  /* TILED HOME PAGE */
  .tile{
    height:160px;
    width:160px;
    margin-right:5px;
    margin-bottom:10px;
  }
  .tile:nth-child(2){
    margin-right:0px;
  }
  .tile-no-hover {
    padding: 15px 5px 0px 15px
  }
  .tile-mega{
    height:330px;
    width:330px;
  }
  .tile-header{
    font-size:20px;
    line-height:20px;
  }
  .tile-mega .tile-header{
    margin-top:20px;
    font-size:30px;
    line-height:30px;
  }
  .tile-mega .tile-subheader{
    font-size:30px;
    line-height:40px;
  }
  .tile-spacer{
    height:2px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .tile-link-icon{
    right:10px;
    bottom:10px;
  }
  .tile-social-holder{
    margin-top:0px;
  }
  .tile-copyright{
    margin-top: 15px;
    line-height:10px;
    font-size:10px;
  }
  .social-icon{
    font-size:23px;
  }
  br#page-about-social-break {
    display: block;
  }

  img.page-about-me {
    width: 160px;
  }

  span.header-tag-holder {
	  display: block;
	  margin-bottom: 10px;
  }

  section.portfolio-row h1 {
    font-size: 29px;
  }
  section.portfolio-row h2 {
    font-size: 24px;
  }
  section.portfolio-row h3 {
    font-size: 13px;
  }
}