@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-bold-webfont.woff2') format('woff2'),
       url('../fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
       url('../fonts/gotham-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
       url('../fonts/gotham-light-webfont.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global */
:root {
  --haip-dgray: #39546E;
  --haip-lgray: #DDE6EA;
  --haip-light: #F8FEFF;
  --haip-dark: #022344;
  --haip-coral: #FF8C8C;
  --haip-peach: #FFD1C2;
  --haip-dblue: #3667A1;
  --haip-lblue: #88AEE7;
  --haip-foam: #D1F0F9;
  --haip-lpurple: #F0D6F6;
  --haip-dpurple: #8575B9;
}
body {
  font-family: 'Gotham', Helvetica, Arial, sans-serif;
  background-color: var(--haip-light);
  color: var(--haip-dark);
  font-size: 12px;
  font-weight: normal;
}
body.incl-background {
  /* background-image: url(../img/orb.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -250px 200px; */
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
a {
  text-decoration: underline;
  color: var(--haip-dark);
  transition: 0.3s;
}
a:hover {
  color: var(--haip-dgray);
}
p {
  font-size: 1.05rem;
  font-weight: normal;
  line-height: 1.5rem;
}
h1 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.9rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
}
h3 {
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: normal;
  text-transform: uppercase;
}
hr {
  border: 1px var(--haip-lgray) solid;
  margin: 0;
}
.mt {
  margin-top: 40px;
}
.mb {
  margin-bottom: 40px;
}
.mt-sm {
  margin-top: 20px;
}
.mb-sm {
  margin-bottom: 20px;
}
.light {
  font-weight: lighter;
}
main {
  width: 75vw;
  margin: 0 auto;
  margin-bottom: 100px;
}
div#banner {
  background-color:#2e2e2e;
  height: auto;
  width: 100vw;
  padding: 20px;
  color: #f8f8f8;
  top: 0;
  text-align: center;
}
div#banner a.reverse-look {
  color: #f8f8f8;
  transition: 0.3s;
}
div#banner a.reverse-look:hover {
  color: #d6d6d6;
}

/* Home */
.grid-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'header header'
    'aside section';
}
.grid-home header {
  grid-area: header;
  padding-top: 55px;
  padding-bottom: 55px;
}
.grid-home header a {
  transition: 0.3s;
}
.grid-home header a:hover {
  opacity: 0.7;
}
.grid-home aside {
  grid-area: aside;
  width: 70%;
}
.grid-home aside h1 {
  padding-bottom: 55px;
  line-height: 2.1rem;
  font-weight: normal;
}
.grid-home aside h1 strong {
  color: var(--haip-coral);
}
.grid-home aside h1:last-child {
  padding-bottom: 0;
}
.grid-home aside h1 a {
  text-decoration: none;
}
.grid-home aside h1 a:hover {
  opacity: 0.7;
}
.grid-home section {
  grid-area: section;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 65px 65px 2px 150px 150px 150px 150px 65px;
  grid-template-areas:
    'about about'
    'shop shop'
    'shop shop'
    'spacer spacer'
    'clever clever'
    'twou twou'
    'sc sc'
    'ui cosmo'
    'social social';
  grid-gap: 25px;
}
.grid-home section a {
  text-decoration: none;
  transition: 0.3s;
}
.grid-home section a:hover {
  opacity: 0.7;
}
.grid-home section div.tile {
  border-radius: 18px;
  display: flex;
  height: 100%;
  width: 100%;
  color: var(--haip-light);
  font-size: 1.4rem;
  font-weight: bold;
}
.grid-home section div.tile-sm {
  justify-content: space-between;
  align-items: center;
}
.grid-home section div.tile-sm div.tile-title {
  margin-left: 25px;
}
.grid-home section div.tile-sm div.tile-icon {
  margin-right: 25px;
}
.grid-home section div.tile-lg {
  justify-content: space-between;
}
.grid-home section div.tile-lg div.tile-title {
  margin-top: 25px;
  margin-left: 25px;
}
.grid-home section div.tile-lg div.tile-icon {
  margin-right: 25px;
  margin-bottom: 25px;
  align-self: flex-end;
}
.grid-home section a.tile-placement-about {
  grid-area: about;
}
.grid-home section div.tile-about {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-blog {
  grid-area: blog;
}
.grid-home section div.tile-blog {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-zines {
  grid-area: zines;
}
.grid-home section div.tile-zines {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-digital {
  grid-area: digital;
}
.grid-home section div.tile-digital {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-film {
  grid-area: film;
}
.grid-home section div.tile-film {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-about-blog {
  grid-area: blog;
}
.grid-home section div.tile-about-blog {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-shop {
  grid-area: shop;
}
.grid-home section div.tile-shop {
  background-image: url('../img/grace_1.jpg');
  background-position: bottom center;
  background-size: cover;
  background-color: transparent;
}
.grid-home section a.tile-placement-clever {
  grid-area: clever;
}
.grid-home section div.tile-clever {
  background-image: url('../img/Clever.jpg');
  background-position: center center;
  background-size: cover;
  background-color: transparent;
}
.grid-home section a.tile-placement-twou {
  grid-area: twou;
}
.grid-home section div.tile-twou {
  background-image: url('../img/2U.jpg');
  background-position: bottom center;
  background-size: cover;
  background-color: transparent;
}
.grid-home section a.tile-placement-sc {
  grid-area: sc;
}
.grid-home section div.tile-sc {
  background-image: url('../img/SC.jpg');
  background-position: bottom center;
  background-size: cover;
  background-color: transparent;
}
.grid-home section a.tile-placement-ui {
  grid-area: ui;
}
.grid-home section div.tile-ui {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-cosmo {
  grid-area: cosmo;
}
.grid-home section div.tile-cosmo {
  background-color: var(--haip-dblue);
}
.grid-home section div.spacer {
  grid-area: spacer;
}
.grid-home section a.tile-placement-zines {
  grid-area: zines;
}
.grid-home section a.tile-placement-art {
  grid-area: art;
}
.grid-home section div.tile-art {
  background-color: var(--haip-coral);
}
.grid-home section div.tile-social, .grid-home section#zine-list div.tile-social, .grid-home section#art-list div.tile-social {
  grid-area: social;
  background-color: var(--haip-peach);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Page */
.grid-page {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'header section section section section section'
    '. article article article article article';
}
.grid-page header {
  grid-area: header;
}
.grid-page header a {
  transition: 0.3s;
}
.grid-page header a:hover {
  opacity: 0.7;
}
.grid-page section {
  grid-area: section;
  border-bottom: 2px var(--haip-lgray) solid;
  display: flex;
  align-self: flex-end;
}
.grid-page section h1 {
  padding-bottom: 10px;
}
.grid-page article {
  grid-area: article;
  margin-top: 55px;
}
.grid-page article div.container {
  display: flex;
  flex-wrap: wrap;
}
.grid-page article div.f-center {
  align-items: center;
  justify-content: space-around;
}
.grid-page article div.f-top {
  align-items: flex-start;
  justify-content: space-around;
}
.grid-page article div.container div.f-3 {
  width: 30%;
}
.grid-page article div.container div.f-2 {
  width: 47%;
}
.grid-page article div.container div.f-1 {
  width: 97%;
}
.grid-page article div.well {
  padding: 20px;
  border-radius: 18px;
  background-color: var(--haip-lgray);
}
.grid-page article div.well-pink {
  padding: 20px;
  border-radius: 18px;
  background-color: var(--haip-peach);
}
.grid-page article div.well-border {
  padding: 20px;
  border-radius: 18px;
  border: 2px var(--haip-lgray) solid;
}
.grid-page article ul, .grid-page article ol {
  font-size: .9rem;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: 70%;
}
.grid-page article ul {
  list-style: disc outside;
}
.grid-page article ol {
  list-style: decimal outside;
}
.grid-page article ul li, .grid-page article ol li { 
  padding-left: 10px;
  margin-bottom: 10px;
  line-height: 1.5rem;
}
.grid-page article figcaption {
  margin-top: 10px;
}

/* About */
img#headshot {
  height: 400px;
  width: auto;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 18px;
  border: 1px solid #e3edf1;
}
.grid-about section {
  grid-template-rows: auto 2px 65px 65px!important;
  grid-template-areas:
    'about about'
    'spacer spacer'
    'pdf docx'
    'social social'!important;
}
.grid-about section div#about {
  grid-area: about;
}
.grid-about section a {
  text-decoration: underline;
}
.grid-about section a.tile-placement-pdf {
  text-decoration: none;
  grid-area: pdf;
}
.grid-about section a.tile-placement-pdf div.tile-pdf div.tile-title {
  line-height: 1rem;
}
.grid-home section div.tile-pdf {
  background-color: var(--haip-dblue);
}
.grid-about section a.tile-placement-docx {
  text-decoration: none;
  grid-area: docx;
}
.grid-about section a.tile-placement-docx div.tile-docx div.tile-title {
  line-height: 1rem;
}
.grid-home section div.tile-docx {
  background-color: var(--haip-dblue);
}
.grid-home section a.tile-placement-about-blog {
  text-decoration: none!important;
}
.grid-home section div.tile span.tile-title-sm {
  font-size: 0.9rem;
  line-height: 0.2rem;
}
div#memoji-stage {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Zines */
.grid-home section#zine-list {
  grid-area: section;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 150px 150px 150px 150px 150px 150px 65px;
  grid-template-areas:
    'back'
    'sg'
    'iconic'
    'slut'
    'wfy'
    'cfe'
    'sp'
    'social';
  grid-gap: 25px;
}
.grid-home section#zine-list a.zine-tile-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-area: back;
  background-color: #e3edf1;
  font-size: 1.1rem;
  font-weight: normal;
  border-radius: 18px;
}
.grid-home section#zine-list a.zine-tile-back div.zine-tile-back-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.grid-home section#zine-list div.zine-tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 18px;
  height: 150px;
  width: 100%;
  background-color: var(--haip-foam);
}
h2.explicit-tag {
  display: flex;
  align-items: center;
}
span.explicit {
  padding: 0px 7px 0px 7px;
  background-color: #a51127;
  color: var(--haip-light);
  font-size: .8rem;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 10px;
}
.grid-home section#zine-list div.zine-tile div.zine-tile-icon img {
  border-radius: 15px 0px 0px 15px;
  height: 140px;
  margin-left: 5px;
}
.grid-home section#zine-list div.zine-tile div.zine-tile-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 25px;
}
.grid-home section#zine-list div.zine-tile div.zine-tile-body h2 {
  font-size: 1.7rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.grid-home section#zine-list div.zine-tile div.zine-tile-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-home section#zine-list div.zine-tile div.zine-tile-options div.zine-tile-option {
  padding: 5px 10px 5px 10px;
  background-color: var(--haip-dblue);
  color: var(--haip-light);
  font-size: .8rem;
  margin-right: 10px;
  border-radius: 5px;
}

/* Art */
.grid-home section#art-list {
  grid-area: section;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px auto auto auto auto 65px;
  grid-template-areas:
    'back back'
    'art6 art7'
    'art1 art2'
    'art3 art4'
    'art5 .'
    'social social';
  grid-gap: 25px;
}
.grid-home section#art-list a.art-tile-back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-area: back;
  background-color: #e3edf1;
  font-size: 1.1rem;
  font-weight: normal;
  border-radius: 18px;
}
.grid-home section#art-list a.art-tile-back div.art-tile-back-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.grid-home section#art-list div.art-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 18px;
  height: 100%;
  width: 100%;
  text-align: center;
}
.grid-home section#art-list div.art-entry a img {
  border-radius: 18px;
  border: 1px solid #e3edf1;
}
.grid-home section#art-list div.art-entry-title  {
  margin-top: 10px;
}
.grid-home section#art-list div.art-entry-buy p {
  color: var(--haip-dark);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}
.grid-home section#art-list div.art-entry-buy a {
  padding: 7px 20px 7px 20px;
  background-color: var(--haip-lgray);
  border-radius: 5px;
  transition: 0.3s;
}
.grid-home section#art-list div.art-entry-buy a:hover {
  opacity: 0.7;
}
div#art1 {
  grid-area: art1;
}
div#art2 {
  grid-area: art2;
}
div#art3 {
  grid-area: art3;
}
div#art4 {
  grid-area: art4;
}
div#art5 {
  grid-area: art5;
}
div#art6 {
  grid-area: art6;
}
div#art6 {
  grid-area: art7;
}

@media only screen and (max-width: 1000px) {
  /* Global */
  main {
    width: 90vw;
  }
  div#swish {
    height: 20px;
    width: 100vw;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, rgba(79,35,53,1) 0%, rgba(163,163,206,1) 45%, rgba(249,217,217,1) 100%);
  }
  div#banner {
    margin-top: 20px;
  }

  /* Home */
  .grid-home {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      'header'
      'aside'
      'section';
  }
  .grid-home aside {
    width: 100%;
  }
  .grid-home aside h1:nth-child(even) {
    text-align: right;
  }
  .grid-home aside h1:last-child {
    padding-bottom: 55px;
  }
  .grid-home aside p {
    padding-bottom: 55px;
    text-align: left;
  }

  /* About */
  img#headshot {
    height: 250px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  /* Page */
  .grid-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'header'
      'section'
      'article';
  }
  .grid-page header {
    margin-bottom: 55px;
  }
  .grid-page article div.container div.f-3,
  .grid-page article div.container div.f-2,
  .grid-page article div.container div.f-1 {
    width: 100%;
  }

  /* Zines */
  .grid-home section#zine-list div.zine-tile div.zine-tile-body {
    padding-left: 15px;
  }
  span.explicit {
    font-size: .7rem;
  }
  .grid-home section#zine-list div.zine-tile div.zine-tile-body h2 {
    font-size: 1.2rem;
  }
  .grid-home section#zine-list div.zine-tile div.zine-tile-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .grid-home section#zine-list div.zine-tile div.zine-tile-options div.zine-tile-option {
    margin-bottom: 8px;
    font-size: .7rem;
  }
  .grid-home section#zine-list div.zine-tile div.zine-tile-options:last-child {
    margin-bottom: 0px;
  }
}