.container-fluid{
  margin-top:4%;
}

.black{
  color:#262626;
}
.white{
  color:#f2f2f2;
}
.dgray{
  color:#777777;
}
.lgray{
  color:#d6d6d6;
}
.pink{
  color:#F9D9D9;
}
.red{
  color:#4F2335;
}
.purple{
  color:#A3A3CE;
}

body{
  font-family:'Lato',Helvetica,Arial,sans-serif;
  background-color:#F2F2F2;
  color:#262626;
}
h1{
  font-weight:bold;
  font-size:45px;
  line-height:45px;
}
h2{
  font-size:28px;
  margin-top:10px;
  line-height:40px;
}
h3{
  font-size:12px;
  margin-top:20px;
}
p{
  font-size:17px;
  line-height:30px;
}
a{
  color:#7F7F7F;
}
a:hover{
  color:#A3A3CE;
}
/* .holder{
  margin-top:4%;
} */

/* SIDEBAR */
.sidebar-logo{
  height:90px;
  width:90px;
  margin:0 auto;
  text-align:center;
}

/* TILED HOME PAGE */
.tile{
  position:relative;
  display:inline-block;
  height:250px;
  width:250px;
  float:left;
  margin-right:20px;
  margin-bottom:20px;
  border-radius:20px;
  padding:20px 20px 20px 20px;
  background-color:#F9D9D9;
  color:#262626;
}
.tile:hover{
  background-color:#A3A3CE;
  color:#f2f2f2;
}
.tile-comingsoon:hover{
  background-color:#333!important;
  color:#f2f2f2!important;
}
.tile-no-hover:hover{
  background-color:#F9D9D9;
  color:#262626;
}
.tile-mega{
  background-image:url("../img/wall.JPG");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center center;
  height:250px;
  width:520px;
  border:0px;
  color:#f2f2f2;
}
.tile-mega:hover{
  background-image:none;
  background-color:#4F2335;
}
.tile-header{
  font-weight:bold;
  font-size:35px;
  line-height:35px;
}
.tile-subheader{
  font-weight:lighter;
  font-size:35px;
  line-height:55px;
}
.tile-spacer{
  height:6px;
  width:50px;
  margin-top:20px;
  margin-bottom:20px;
  background-color:#f2f2f2;
}
.tile-link-icon{
  /* Fix this shit */
  position: absolute;
  right:15px;
  bottom:15px;
}
.tile-social-holder{
  margin-top:110px;
}
#tile-service{
  background-color:#4F2335;
  color:#f2f2f2;
}
#tile-service:hover{
  background-color:#F9D9D9;
  color:#262626;
}
#tile-development{
  background-color:#A3A3CE;
  color:#f2f2f2;
}
#tile-development:hover{
  background-color:#4F2335;
}
.social-icon{
  color:#262626;
  font-size:20px;
  margin-right:10px;
}
.social-icon:hover{
  color:#777777;
}
.tile-copyright{
  margin-top:30px;
  line-height:15px;
  font-size:12px;
}

/* PAGE LAYOUT */
.holder .row{
  margin-bottom:40px;
}
.welton{
  float:left;
  margin-right:20px;
  margin-top:30px;
  margin-bottom:30px;
  border-radius:20px;
  padding:20px 20px 20px 20px;
  background-color:#A3A3CE;
  color:#262626;
  width:100%;
}
.welton:last-child{
  margin-right:0px;
}
.page-social-wrap{
  margin:0 auto;
  text-align:center;
}
.page-about-me{
  float:left;
  margin-right:20px;
}
img.page-img-full{
  display:block;
  width:90%;
  margin:0 auto;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
}
img.page-img-part{
  display:block;
  margin:0 auto;
  text-align:center;
  margin-top:30px;
  margin-bottom:30px;
}

@media only screen and (max-width: 770px) {
  h1{
    margin-top:30px;
    font-size:30px;
    line-height:30px;
  }
  h2{
    font-size:20px;
    margin-top:10px;
    line-height:30px;
  }
  h3{
    font-size:12px;
    margin-top:20px;
  }
  .sidebar-logo{
    margin-left:20px;
    margin:0 auto;
  }

  /* TILED HOME PAGE */
  .tile{
    height:160px;
    width:160px;
    margin-right:10px;
    margin-bottom:10px;
  }
  .tile-mega{
    height:330px;
    width:330px;
  }
  .tile-header{
    font-size:20px;
    line-height:20px;
    margin-bottom:20px;
  }
  .tile-mega .tile-header{
    margin-top:20px;
    font-size:30px;
    line-height:30px;
  }
  .tile-mega .tile-subheader{
    font-size:30px;
    line-height:40px;
  }
  .tile-spacer{
    height:2px;
    margin-top:5px;
    margin-bottom:5px;
  }
  .tile-social-holder{
    margin-top:0px;
  }
  .tile-copyright{
    line-height:10px;
  }
  .tile-copyright{
    font-size:10px;
  }
}
@media only screen and (max-width: 760px) {
  .bodyholder{
    width:330px;
    margin:0 0 0 0;
    padding:0 0 0 0;
    margin:0 auto;
  }
  .sidebar{
    margin-bottom:20px;
  }
  .tile{
    margin-right:5px;
    margin-bottom:5px;
  }
  .tile:nth-child(2){
    margin-right:0px;
  }
}