{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeAbout=true}}

    <main id="stage-about">
      <article>
        <p class="mb-1">Reigning from the <em>City in a Forest</em>, Atlanta, Georgia, I'm a product designer, technologist, artist, zinester, teacher, adventurer, and cat mama. You can catch me listening to copious amounts of NPR, messing with retro tech, cross stitching, exploring the city, and looking for trinkets in antique stores.</p>
        <p class="mb-1">One of my biggest passions is making things that evoke emotion and that allow people to express themselves. Whether it’s telling stories through <a href="https://hannahap.com/zines/" title="Zines by Hannah A. Patellis">zines</a>; <a href="https://shop.hannahap.com" title="Hannah A. Patellis Store">making art, totes, or pins</a>; or taking photographs <a href="https://www.lomography.com/homes/hannahap" title="Film photography by Hannah A. Patellis">on film</a> and <a href="https://www.flickr.com/people/198034559@N06/" title="Digital photography by Hannah A. Patellis">digitally</a> — my life goal is to create with feeling.</p>
        <p class="mb-1">From 9-to-5 I take ideas and turn them into products through data-driven decision making, collaborative ideation, prototyping, testing, and finally development. I have been working with design, development, and technology hand-in-hand for over 10 years. The way humans interact with their devices and how we can use hardware, software, and services to make people more productive has always fascinated me. As such, it has become my focus to create a delightful, efficient, and intuitive user experience in the products I design.</p>
        <p>I have a Bachelor of Fine Arts in <a href="http://www.scad.edu/academics/programs/service-design" title="Savannah College of Art and Design's Service Design program webpage">Service Design from Savannah College of Art and Design</a> where I spent time concentrating on user experience design, digital services, and industrial design. Currently I work as a Senior Product Designer for <a href="https://seesaw.com/" title="Seesaw Learning's home page">Seesaw Learning</a>, an educational technology company focused on elementary schools, and as an instructor of UX/UI design and MERN stack web application development boot camps for <a href="https://pe.gatech.edu/" title="Georgia Tech Professional Education webpage">Georgia Tech</a>.</p>   

        <div id="actions">
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/HannahPatellisResume.pdf" title="Resume download in .pdf format">
              <div>
                <div>Resume in .pdf format</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Resume download in .pdf format" /></div>
              </div>
            </a>
          </div>
          <div class="action-button-wrap">
            <a href="https://fs.hannahap.com/HannahPatellisResume.docx" title="Resume download in .docx format">
              <div>
                <div>Resume in .docx format</div>
                <div><img src="images/circle-arrow-right-dblue.svg" alt="Resume download in .docx format" /></div>
              </div>
            </a>
          </div>
        </div>
      </article>
      <aside>
        <img id="headshot" src="images/me.jpg" alt="Picture of Hannah A. Patellis, a white woman with long dark hair, twirling in a white dress with blue flowers against a pink studio backdrop" />
      </aside>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}