{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeArt=true}}

    <main id="stage-art">
      <h1 class="tuppence mb-2"><span id="art-title">Art</span> by Hannah A. Patellis</h1>
      <h2 class="mb-3">More than 180 finished pieces spread over 10 unique collections</h2>
      
      <section>
        <div class="art-entry">
          <a href="cstay.html" title="'Can't Stop Thinking About You' collection">
            <div class="art-entry-inner">
              <img src="https://fs.hannahap.com/img_store/66344469351d6.jpg" alt="'Toys' by Hannah A. Patellis" />
              <h3>Can't Stop Thinking About You</h3>
              <div class="tag">Featured Collection</div>
            </div>
          </a>
        </div>
        <div class="art-entry">
          <a href="wfy.html" title="'Waiting for You' collection">
            <div class="art-entry-inner">
              <img class="art-cover-border" src="https://fs.hannahap.com/img_store/66344963590e2.jpg" alt="'Toys' by Hannah A. Patellis" />
              <h3>Waiting for You</h3>
              <div class="tag">Featured Collection</div>
            </div>
          </a>
        </div>
        <div class="art-entry">
          <a href="iconiccollection.html" title="'ICONIC' collection">
            <div class="art-entry-inner">
              <img src="https://fs.hannahap.com/img_store/66353d789693e.jpg" alt="'Toys' by Hannah A. Patellis" />
              <h3>ICONIC</h3>
              <div class="tag">Featured Collection</div>
            </div>
          </a>
        </div>
        <div class="art-entry">
          <a href="era.html" title="'The Era' collection">
            <div class="art-entry-inner">
              <img src="https://fs.hannahap.com/img_store/66670290b53b7.jpg" alt="'Toys' by Hannah A. Patellis" />
              <h3>The Era</h3>
              <div class="tag">Featured Collection</div>
            </div>
          </a>
        </div>
        <div class="art-entry">
          <a href="journeynorth.html" title="'The Journey North' collection">
            <div class="art-entry-inner">
              <img src="https://fs.hannahap.com/img_store/675f65a0508a4.jpg" alt="'Toys' by Hannah A. Patellis" />
              <h3>The Journey North</h3>
              <div class="tag">Featured Collection</div>
            </div>
          </a>
        </div>
        <div class="art-entry">
          <a href="prolific.html" title="More about PROlific art management software">
            <div class="art-entry-inner">
              <img class="art-cover-sm" src="images/emoh.png" />
              <h3>PROlific art management tool</h3>
              <div class="app">Software</div>
            </div>
          </a>
        </div>
        <div class="art-entry">
          <a href="showcase.html" title="Showcase Hannah's art">
            <div class="art-entry-inner">
              <img class="art-cover-sm" src="images/me-sq.jpg" />
              <h3>Showcase Hannah's art</h3>
            </div>
          </a>
        </div>
        <div class="art-entry art-entry-blank"></div>
        <div class="art-entry art-entry-blank"></div>
      </section>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}