{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeArt=true}}

    <main id="stage-art">
      <h1 class="tuppence mb-2"><span id="art-title">Art</span> by Hannah A. Patellis</h1>
      <h2 class="mb-3">One of these days I'll get around to actually publishing art here... until then, check out <a href="https://shop.hannahap.com" title="Shop Hannah A. Patellis">my shop</a> where you can buy high-quality prints</h2>  
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}