{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeDesign=true}}

    <main id="stage-design">
      <article>
        <div class="design-entry" id="entry-clever">
          <a href="clever.html" title="Work for Clever Inc.">
            <div class="design-entry-inner">
              <img src="images/design_logos/Clever-mono.svg" alt="Logo for Clever Inc." />
            </div>
          </a>
        </div>
        <div class="design-entry" id="entry-2u">
          <a href="2u.html" title="Work for 2U Inc.">
            <div class="design-entry-inner">
              <img src="images/design_logos/2U-mono.svg" alt="Logo for 2U Inc." />
            </div>
          </a>
        </div>
        <div class="design-entry" id="entry-smokecartel">
          <a href="smokecartel.html" title="Work for Smoke Cartel">
            <div class="design-entry-inner">
              <img src="images/design_logos/SmokeCartel-mono.svg" alt="Logo for Smoke Cartel" />
            </div>
          </a>
        </div>
        <div class="design-entry" id="entry-cosmo">
          <a href="cosmo.html" title="Collaborative Service Map of Opportunities (COSMO) Designer Toolkit">
            <div class="design-entry-inner">
              <img src="images/design_logos/COSMO-mono.svg" alt="Logo for the Collaborative Service Map of Opportunities (COSMO) designer toolkit" />
            </div>
          </a>
        </div>
        <div class="design-entry" id="entry-misc">
          <a href="uidesign.html" title="Miscellaneous UI designs">
            <div class="design-entry-inner">
              Miscellaneous UI designs
            </div>
          </a>
        </div>
      </article>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}