{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=true}}

    <main id="stage-home">
      <div>
        <h1 class="tuppence">Create <span id="home-delight-1">delight</span></h1>
        <h1 class="tuppence mb-3">Be <span id="home-delight-2">delightful</span></h1>
        <h2>Hi friends!</h2>
        <h2 class="mb-2">I'm Hannah A. Patellis</h2>
        <p>I’m a technologist and engineer,<br />artist, zinester, and retro tech enthusiast.</p>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}