{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}
    {{!-- {{>"alert"}} --}}

    <main id="stage-home">
      <div>
        <h1 class="tuppence">Be <span id="home-delight-1">delightful</span></h1>
        <h1 class="tuppence mb-3">Design <span id="home-delight-2">delightful</span></h1>
        <h2>Hi friends!</h2>
        <h2 class="mb-2">I'm Hannah A. Patellis</h2>
        <p>I’m a product designer, technologist, <br />artist, zinester, and retro tech enthusiast. <br />I methodically create things that help energize and inspire</p>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}