{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeShop=true activeProMode=false}}

    <main id="stage-home">
      <div>
        <h1 class="tuppence mb-3">Hey friend!</h1>
        <h2 class="mb-2">You can find all my art, zines,<br />pins, and stickers at Emotional by Design!</h2>
        <p><a href="https://emotionalby.design">Shop Hannah A. Patellis at Emotional by Design</a>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}