{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeShop=true}}

    <main id="stage-home">
      <div>
        <h1 class="tuppence mb-3">Coming soon!</h1>
        <h2 class="mb-2">Sorry friend!<br />The shop is currently closed for renovations</h2>
        <p>If you would like to purchase art, zines, pins, or stickers please reach out to me directly!</p>
      </div>
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}