{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-design-entry">
      <h1 class="tuppence">Work for Clever Inc.</h1>
      <hr />

      <div class="entry-container col-solo">
        <div class="col">
          <p class="mb-1">Presently I am working at Clever Inc. as the lead Product Designer for Clever's Identity Management (IDM) solution. Clever designs software for K-12 schools and school districts.</p>
          <h2 class="mb-1">Currently having a ball while...</h2>
          <ol>
            <li>Working closely with Microsoft Windows Active Directory, Azure AD, and Google Workspace</li>
            <li>Creating new and innovative ways to sync with K-12 school districts' SIS (Student Information Systems) and manage account creation and synchronization in various directory solutions</li>
            <li>Researching for new features and evaluation of existing solutions</li>
            <li>Participating as a member of a ~7 member design team that collaborates on ideation and critique</li>
            <li>Working cross-functionally with engineering to develop, deploy, and iterate solutions; as well as marketing to ensure proper messaging and adoption along with collaborative research tasks</li>
          </ol>
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col well">
          <p>A slide deck with a more in-depth look at my projects for Clever is available upon request</p>
        </div>
      </div>
      
    </main>

    {{>"footer"}}
  {{/content}}
{{/extend}}