{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav" activeProMode=true}}

    <main id="stage-design-entry" class="design-entry-spec-ui">
      <h1 class="tuppence">#dailyui Exercises</h1>
      <hr />

      <p class="mb-2"><a href="https://www.dailyui.co/" title="Daily UI website">Daily UI</a> is a series of 100 design challenges. I completed Daily UI back in 2019; below are some of my early favorites</p>

      <div class="entry-container col-duo">
        <div class="col">
          <a href="images/uidesign/settings.jpg" data-featherlight="images/uidesign/settings.jpg" title="Click to view">
            <img src="images/uidesign/settings.jpg" width="100%" alt="Settings screen user interface design for a pharmacy application on iOS" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/flash.jpg" data-featherlight="images/uidesign/flash.jpg" title="Click to view">
            <img src="images/uidesign/flash.jpg" width="100%" alt="Flash message user interface design displaying a confirmation for a book reservation at a library" />
          </a>
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col">
          <a href="images/uidesign/music.jpg" data-featherlight="images/uidesign/music.jpg" title="Click to view">
            <img src="images/uidesign/music.jpg" width="100%" alt="Music player user interface design on macOS" />
          </a>
        </div>
      </div>

      <div class="entry-container col-duo">
        <div class="col">
          <a href="images/uidesign/signup.jpg" data-featherlight="images/uidesign/signup.jpg" title="Click to view">
            <img src="images/uidesign/signup.jpg" width="100%" alt="Signup screen user interface design on iOS" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/creditcard.jpg" data-featherlight="images/uidesign/creditcard.jpg" title="Click to view">
            <img src="images/uidesign/creditcard.jpg" width="100%" alt="Credit card input user interface design on iOS" />
          </a>
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col">
          <a href="images/uidesign/dm.jpg" data-featherlight="images/uidesign/dm.jpg" title="Click to view">
            <img src="images/uidesign/dm.jpg" width="100%" alt="Direct messaging user interface design" />
          </a>
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col">
          <a href="images/uidesign/analytics.jpg" data-featherlight="images/uidesign/analytics.jpg" title="Click to view">
            <img src="images/uidesign/analytics.jpg" width="100%" alt="Analytics user interface design for a medical dashboard" />
          </a>
        </div>
      </div>

      <div class="entry-container col-trio">
        <div class="col">
          <a href="images/uidesign/profile.jpg" data-featherlight="images/uidesign/profile.jpg" title="Click to view">
            <img src="images/uidesign/profile.jpg" width="100%" alt="Social profile user interface design on iOS" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/popup.jpg" data-featherlight="images/uidesign/popup.jpg" title="Click to view">
            <img src="images/uidesign/popup.jpg" width="100%" alt="Pop-up password reset user interface design" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/calculator.jpg" data-featherlight="images/uidesign/calculator.jpg" title="Click to view">
            <img src="images/uidesign/calculator.jpg" width="100%" alt="Calculator user interface design on iOS" />
          </a>
        </div>
      </div>

      <div class="entry-container col-trio">
        <div class="col">
          <a href="images/uidesign/sara.jpg" data-featherlight="images/uidesign/sara.jpg" title="Click to view">
            <img src="images/uidesign/sara.jpg" width="100%" alt="Application icon for a server and client application" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/ecommerce.jpg" data-featherlight="images/uidesign/ecommerce.jpg" title="Click to view">
            <img src="images/uidesign/ecommerce.jpg" width="100%" alt="Single item e-commerce shop entry user interface design on iOS" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/receipt.jpg" data-featherlight="images/uidesign/receipt.jpg" title="Click to view">
            <img src="images/uidesign/receipt.jpg" width="100%" alt="Receipt email design" />
          </a>
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col">
          <a href="images/uidesign/socialshare.jpg" data-featherlight="images/uidesign/socialshare.jpg" title="Click to view">
            <img src="images/uidesign/socialshare.jpg" width="100%" alt="Social share dialog user interface design" />
          </a>
        </div>
      </div>

      <div class="entry-container col-duo">
        <div class="col">
          <a href="images/uidesign/404.jpg" data-featherlight="images/uidesign/404.jpg" title="Click to view">
            <img src="images/uidesign/404.jpg" width="100%" alt="404 web page design" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/landing.jpg" data-featherlight="images/uidesign/landing.jpg" title="Click to view">
            <img src="images/uidesign/landing.jpg" width="100%" alt="Landing web page for a podcast" />
          </a>
        </div>
      </div>

      <div class="entry-container col-duo">
        <div class="col">
          <a href="images/uidesign/onoff.jpg" data-featherlight="images/uidesign/onoff.jpg" title="Click to view">
            <img src="images/uidesign/onoff.jpg" width="100%" alt="On/off switch design" />
          </a>
        </div>
        <div class="col">
          <a href="images/uidesign/countdown.jpg" data-featherlight="images/uidesign/countdown.jpg" title="Click to view">
            <img src="images/uidesign/countdown.jpg" width="100%" alt="Countdown timer component user interface design" />
          </a>
        </div>
      </div>
      
    </main>

    {{>"footer"}}
    {{>"featherlight"}}
  {{/content}}
{{/extend}}