{{#extend "layout"}}
  {{#content "body"}}
    {{>"nav"}}

    <main id="stage-design-entry">
      <h1 class="tuppence">Work for Smoke Cartel</h1>
      <hr />

      <div class="entry-container col-solo">
        <div class="col">
          <p class="mb-1">Working at Smoke Cartel as a web application designer and developer allowed me dive head-first into designing and developing a multitude of applications that encompassed all aspects of online retail and wholesale business. Smoke Cartel is first and foremost an online retailer and had built the front-end of their business using the Shopify e-commerce platform. On the back-end, Sean Geng, then CEO, had build a collection of PHP applications to run all operations. From clocking in to order fulfillment, everything that ran the company’s day-to-day operations was custom coded. While at Smoke Cartel I primarily worked on those back-end applications. I would quickly go from idea to production and managed every aspect in the process. I reported directly to the CEO who also contributed to the development work.</p>
          <figure>
            <a href="images/smokecartel/SmokeCartelProcess.png"
              data-featherlight="images/smokecartel/SmokeCartelProcess.png" title="Click to view">
              <img src="images/smokecartel/SmokeCartelProcess.png" width="100%"
                alt="The process I created and employed during my time at Smoke Cartel; starting with research, followed by definition + ideation, information architecture, wireframing, and finally development + testing" />
            </a>
            <figcaption class="mb-1">The process I created and employed during my time at Smoke Cartel; starting with research, followed by definition + ideation, information architecture, wireframing, and finally development + testing</figcaption>
          </figure>
          <p class="mb-1">I employed the design thinking process for the majority of web applications I designed and developed. I would start out with research, and since most applications were internal, worked with other Smoke Cartel employees to better understand their needs and the processes they used to go about their daily work. This was primarily done with 1:1 meetings along with surveys. Most applications stemmed from an initial idea, but the ideation process was still critical to better round out the feature set and overall user experience. Prototyping would often happen in conjunction with production, as Smoke Cartel was a fast-moving and fast-growing company. The applications would undergo multiple user experience tweaks and iterations over time to better serve the purpose for which they were intended.</p>
          <p>During my time at Smoke Cartel I created, maintained, and redesigned a multitude of applications with purposes ranging from order fulfillment to employee and asset management — encompassing a wide range of the company’s departments. I have collected and documented two such applications: DABS, an online web application for wholesale customers to manage their accounts, track orders, and place new orders; and HITS, an online application that acted as a central hub for the information technology systems used throughout the company.</p>
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col">
          <h2>Major projects + initiatives</h2>
        </div>
      </div>
      
      <div class="entry-container col-duo">
        <div class="col">
          <h3 class="mb-1">Heady Information Technology System (HITS)</h3>
          <p><strong>Mission:</strong> Create a management application to meet the needs of Smoke Cartel's rapidly growing information technology department.</p>    
        </div>
        <div class="col">
          <h3 class="mb-1">Dossier Access for Buyers System (DABS)</h3>
          <p><strong>Mission:</strong> Create an application for Glassheads Wholesale customers that allows for easy access to product ordering and account management.</p>  
        </div>
      </div>

      <div class="entry-container col-solo">
        <div class="col well">
          <p>More information about the applications I designed and developed while at Smoke Cartel is available upon request</p>
        </div>
      </div>
      
    </main>

    {{>"footer"}}
    {{>"featherlight"}}
  {{/content}}
{{/extend}}