main#stage-error {
	display: flex;
	align-items: center;
	margin-bottom: 40px;

  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 800px) {	
	main#stage-error {
		margin-bottom: 10px;
	}
}