<div id="alert-header">
  <p><strong>Upcoming zine fest:</strong> Come see me at St. Cloud Zine Fest on Saturday March 15! <a href="https://www.instagram.com/p/DG_NQ_DuC3L/" title="More details about St. Cloud Zine Fest on Instagram">More details</a></p>
</div>