<div id="alert-header">
  <p><strong>New zine just dropped!</strong> DecaTranniversary is an online zine celebrating a decade since starting transition. <a href="https://10.hannahap.com" title="View the 'DecaTranniversary' online zine">View it here for free</a></p>
</div>