<div id="alert-header">
  <p><strong>Hot off the presses!</strong> DecaTranniversary (print edition) and Sleep Comes After Death are now available for purchase. <a href="https://shop.hannahap.com" title="Shop Hannah A. Patellis">Buy now!</a></p>
</div>