<footer>
  <div class="footer-chunk">
    <a href="https://www.linkedin.com/in/hannahpatellis/" title="Hannah Patellis on LinkedIn" class="social-icon">
      <img src="images/social/linkedin.svg" alt="LinkedIn" />
    </a>
    <a href="https://github.com/hannahpatellis" title="Hannah Patellis on Github" class="social-icon">
      <img src="images/social/github.svg" alt="Github" />
    </a>
    <a href="https://www.instagram.com/hannahpatellis/" title="Hannah Patellis on Instagram" class="social-icon">
      <img src="images/social/instagram.svg" alt="Instagram" />
    </a>
    <a rel="me" href="https://oldbytes.space/@hannahpatellis" title="Hannah Patellis on Mastodon" class="social-icon">
      <img src="images/social/mastodon.svg" alt="Mastodon" />
    </a>
  </div>

  <div class="footer-chunk">
    <a href="https://www.flickr.com/people/198034559@N06/" title="Hannah Patellis on Flickr" class="social-icon">
      <img src="images/social/flickr.svg" alt="Flickr" />
    </a>
    <a href="https://www.youtube.com/@hannahhq" title="Hannah Patellis on YouTube" class="social-icon">
      <img src="images/social/youtube.svg" alt="YouTube" />
    </a>
    <a href="https://www.threads.net/@hannahpatellis" title="Hannah Patellis on Threads" class="social-icon">
      <img src="images/social/threads.svg" alt="Threads" />
    </a>
    <a href="https://paypal.me/hannahpatellis" title="Hannah Patellis on PayPal" class="social-icon">
      <img src="images/social/paypal.svg" alt="PayPal" />
    </a>
  </div>
</footer>