main#stage-design-entry {
	margin-top: 10%;

  div.entry-container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    margin-bottom: 3.5rem;
  }
  div.col-solo {
    grid-template-columns: 1fr;
  }
  div.col-duo {
    grid-template-columns: 1fr 1fr;
  }
  div.col-trio {
    grid-template-columns: 1fr 1fr 1fr;
  }
  div.col ol {
    padding-left: 30px;
  }
  div.col ul {
    padding-left: 20px;
  }
  div.col ol li {
    list-style: decimal-leading-zero;
    padding-left: 2rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
  }
  div.col ol li::marker {
    font-weight: 600;
  }
  div.col ul li {
    list-style: outside;
    padding-left: .5rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
  }
  figure img {
    border-radius: var(--radius);
    margin-bottom: 1rem;
  }
  figure figcaption {
    font-family: monospace;
    line-height: 1.1rem;
    font-weight: 300;
    padding-left: 10px;
    border-left: 2px solid var(--haip-coral);
  } 
  div.well {
    border-radius: var(--radius);
    background-color: var(--haip-lgray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  div.well div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.entry-container img.action-arrow {
    margin-left: 12px;
    height: 18px;
    width: auto;
  }
}

@media only screen and (max-width: 800px) {	
	main#stage-design-entry {
		margin-top: 20%;

    div.col-solo, div.col-duo, div.col-trio  {
      grid-template-columns: 1fr;
    }
    div.col-duo .col:first-child {
      margin-bottom: 1rem;
    }
    div.col-trio .col:first-child, div.col-trio .col:nth-child(2) {
      margin-bottom: 1rem;
    }
	}
  main#stage-design-entry.design-entry-spec-ui {
    div.entry-container {
      margin-bottom: 1rem;
    }
  }
}