main#stage-art-entry h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.9rem;
}
main#stage-art-entry h3 {
  font-size: 1.2rem;
}
main#stage-art-entry section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
main#stage-art-entry section img {
  height: 350px;
}

@media only screen and (max-width: 800px) {
  main#stage-art-entry {
    margin-top: 20%;
  }
  main#stage-art-entry section img {
    width: 100%;
    height: auto;
  }
}
@keyframes title-art-animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}